/* start rules */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: inline-block;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

body {
    font-family: "Poppins-Regular", "Poppins-Bold", "Poppins-SemiBold";
}

button {
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    z-index: 1;
}

button::before {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.3s;
    z-index: -1;
}

button:hover::before {
    height: 100%;
}

/* end rules */

/* start hero section */

.hero .container {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}

.hero .container .img {
    width: inherit;
    height: inherit;
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
}

.hero .container #img2 {
    visibility: hidden;
    opacity: 0;
}

/* end hero section */

/* start nav section */

.nav .container {
    text-align: center;
}

.nav .container button {
    width: 75px;
    height: 75px;
    outline: none;
    border: 1px solid burlywood;
    border-radius: 50%;
    background-color: transparent;
    color: blueviolet;
    font-size: 30px;
}

/* end nav section */